body {
    font-family: 'Montserrat', sans-serif;
}

    /*
	position: relative;
    width: 100%;
    height: 70px;
	
	*/
	
header {
	background: #000000;
	padding: 20px 0;
	height: 140px;
}

.banner {
	background-color: #170617;
	position: relative;
	width: 60%;
	padding-left: 1020px;
	margin: 0 auto;
}

.caixa {
	position: relative;
	text-align: center;
	width: 940px;
	margin: auto;
	padding-left: 20px;
}

nav {
	position: absolute;
	top: 110px;
	right: 110px;
}


nav li {
	display: inline;
	margin: 0 0 0 20px;
}

nav a {
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #92168c;
}

.produtos {
	position: relative;
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li{
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 3px solid #000000;
	border-radius: 20px;
}

.projetos li:hover {
	border-color: #6e0d61;
}

.projetos li:active {
	border-color: #730777;
}

.projetos li:hover h2 {
	font-size: 35px;
}

.projetos h2 {
	font-size: 30px;
	font-weight: bold;
}

main {
	background-color: #ffffff;
}

.video {
	width: 560px;
	margin: 2em auto;
}

.copyrigth {
	color: #500f45;
	font-size: 15px;
	margin: 20px 0 0;
}

footer {
	text-align: center;
	background: url("img/bg.jpg");
	padding: 40px 0;
}

.carregamento {
    color: rgb(0, 0, 0);
    background: linear-gradient(to right, #2d60ec, #3ccfda);
    font-size: 30px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate8345 9s linear infinite;
    font-weight: bold;
}

@keyframes animate8345 {
    0%,100% {
    filter: hue-rotate(0deg);
}
  
50% {
    filter: hue-rotate(360deg);
    }
} 
